<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.modules.wechat.dao.AttributeMapper">
    <resultMap id="BaseResultMap" type="com.order.modules.wechat.entity.Attribute">
        <id column="attribute_id" jdbcType="INTEGER" property="attributeId"/>
        <result column="attribute_product_id" jdbcType="INTEGER" property="attributeProductId"/>
        <result column="attribute_name" jdbcType="VARCHAR" property="attributeName"/>
    </resultMap>
    <sql id="Base_Column_List">
    attribute_id, attribute_product_id, attribute_name
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attribute
        where attribute_id = #{attributeId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from attribute
    where attribute_id = #{attributeId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.order.modules.wechat.entity.Attribute">
    insert into attribute (attribute_id, attribute_product_id, 
      attribute_name)
    values (#{attributeId,jdbcType=INTEGER}, #{attributeProductId,jdbcType=INTEGER}, 
      #{attributeName,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.order.modules.wechat.entity.Attribute">
        insert into attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="attributeId != null">
                attribute_id,
            </if>
            <if test="attributeProductId != null">
                attribute_product_id,
            </if>
            <if test="attributeName != null">
                attribute_name,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="attributeId != null">
                #{attributeId,jdbcType=INTEGER},
            </if>
            <if test="attributeProductId != null">
                #{attributeProductId,jdbcType=INTEGER},
            </if>
            <if test="attributeName != null">
                #{attributeName,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.order.modules.wechat.entity.Attribute">
        update attribute
        <set>
            <if test="attributeProductId != null">
                attribute_product_id = #{attributeProductId,jdbcType=INTEGER},
            </if>
            <if test="attributeName != null">
                attribute_name = #{attributeName,jdbcType=VARCHAR},
            </if>
        </set>
        where attribute_id = #{attributeId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.order.modules.wechat.entity.Attribute">
    update attribute
    set attribute_product_id = #{attributeProductId,jdbcType=INTEGER},
      attribute_name = #{attributeName,jdbcType=VARCHAR}
    where attribute_id = #{attributeId,jdbcType=INTEGER}
  </update>
    <select id="getAttributeListByProductId" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from attribute
        where attribute_product_id = #{productId}
    </select>
</mapper>